.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #d8cacb;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}

.carousel-dots {
    text-align: center;
  }
  
  .carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc; /* Inactive dot color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .carousel-dots span.active {
    background-color: #ff6b6b; /* Active dot color */
  }
  